<div class="manage-game">
  <h2>{{ isEditMode ? ('manage.editTitle' | translate) : ('manage.createTitle' | translate) }}</h2>

  <form [formGroup]="gameForm" (ngSubmit)="saveGame()">
    <label>
      {{ 'manage.gameName' | translate }}:
      <input type="text" formControlName="name" />
    </label>

    <h3>{{ 'manage.locationsTitle' | translate }}</h3>
    <div formArrayName="locations">
      <div *ngFor="let loc of locations.controls; let i = index" [formGroupName]="i" class="location-form">
        <label>{{ 'manage.passcode' | translate }}: <input formControlName="code" /></label>
        <label>{{ 'manage.question' | translate }}: <input formControlName="question" /></label>
        <label>{{ 'manage.story' | translate }}: <input formControlName="story" /></label>
        <label>{{ 'manage.answer' | translate }}: <input formControlName="answer" /></label>
        <label class="custom-file-upload">
          {{ 'manage.image' | translate }}
          <input type="file" (change)="onFileSelected($event, i)" />
          <img class="upload-image" src="assets/icons/add_a_photo_black.svg" alt="upload a photo">
        </label>
        <!-- <label>{{ 'manage.image' | translate }}: <input type="file" (change)="onFileSelected($event, i)" /></label> -->
        <img *ngIf="loc.value.imageUrl" [src]="loc.value.imageUrl" width="100" />
        <label>{{ 'manage.hint' | translate }}: <input formControlName="hint" /></label>
        <button type="button" (click)="removeLocation(i)">{{ 'manage.removeLocation' | translate }}</button>
        <hr />
      </div>
    </div>

    <button type="button" (click)="addLocation()">
      {{ 'manage.addLocation' | translate }}
    </button>
    <button type="submit" [disabled]="gameForm.invalid">
      {{ 'manage.saveGame' | translate }}
    </button>
  </form>
</div>
