<div class="location-container">
  <!-- Question + Answer -->
  <form *ngIf="!completed" (ngSubmit)="submitAnswer()" class="question-section">
    <p class="question-text">
      {{ location.question | translate }}
    </p>
    <input
      type="text"
      name="answer"
      [(ngModel)]="inputAnswer"
      [placeholder]="'player.enter_answer_placeholder' | translate"
      class="answer-input"
    />
    <button type="submit" class="primary-btn">{{ 'player.submit_answer' | translate }}</button>
    <p *ngIf="feedbackMessage" class="error">{{ feedbackMessage | translate }}</p>
  </form>
</div>
